* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

header {
    position: fixed;
    width: 100%; 
    z-index: 3;
    display: flex;
    font-size: 15px;
    background-color: hsl(24.33deg 100% 50.2%);
    justify-content: space-between;
    align-items: center;
    padding: 25px 19%;
}

a {
    text-decoration: none;
    color: hsl(60deg 2.04% 90.39%);
}

ul {
    list-style: none;
}

.gender {
    display: flex;
    gap: 10px;
}

.logo {
    width: 130px;
    margin: 0 auto;
}

.menu {
    display: flex;
    gap: 8px;
}

.icons1 {
    width: 15px;
}

/* /header */

/* main */

img {
    width: 100%;
    margin-bottom: -20px;
}

main {
    padding: 100px 15% 0px 15%;
}

.container {
    margin: 0 auto;
    padding:70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 50px;
}

.col {
    width: calc(95% / 3);
}

.redstrong {
    color: red;
}

.line-on {
    text-decoration: line-through;
}
/* /main */

/* footer */
footer { 
    display: flex;
    font-size: 15px;
    background-color: hsl(0deg 0% 10.2%);
    justify-content: space-between;
    align-items: center;
    padding: 25px 19%;
    margin-top: -25px;
}

.srl {
    color: hsl(60deg 2.04% 90.39%);
}

.downleft {
    display: flex;
    gap: 10px;
    font-size: 14px;
}

.downright {
    display: flex;
    gap: 8px;
}

.icons2 {
    width: 18px;
}
/* /footer */

/* positioning */

.sale {
    position: relative;
    color: white;
    z-index: 2;
    background-color: hsl(0deg 100% 50%);
    padding: 5px;
    bottom: 40px;
}

.sstnblt {
    position: relative;
    color: white;
    z-index: 2;
    background-color: hsl(120.47deg 100% 25.1%);
    padding: 5px;
    bottom: 40px;
}

.like{
    position: absolute;
    top: 5%;
    right: 0%;
    z-index: 2;
    font-size: 40px;
    background-color: hsl(0deg 0% 100%);
    border-style: none;
}

.col {
    position: relative;
}

.Maya {
    position: relative;
    top: 19px;
}

.like:hover {
    color: red;
}

.switchimg {
    position: relative;
}

.onimage {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: 0,5s;
}

.switchimg:hover .onimage {
    opacity: 1;
}

